$primary-color: #333;
$secondary-color: #ACACAC;




.container1 {
  background-color: #fff;
  padding: 35px  50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  border: none;
  border-radius: 24px;
}

.container2 {
  padding: 30px 40px;
  display: flex; 
  background-color: #fff; 
  width: 100%;
  height: fit-content;
  border: none;
  border-radius: 24px;

 
}
.container3 {
    background-color: f3f5ff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}


@media (max-width: 768px) {
  body {
    // margin: 0px 24px;
    font-size: small;
    width: auto;
  }
  .container1 {
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
    
  }
  .container2 {
    padding: 12px;
  }

  .container3 {
    font-size: small;
  }
}
